<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper indigo darken-4 white-text">
            <a href="#" class="brand-logo right">FeedBuzz!</a>
            <ul id="nave-mobile" class="left hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/saved">Saved Articles</a></li>
                <li><a class="waves-effect waves-light btn amber" id="new"><i class="material-icons left">get_app</i>Get
                        New Articles!</a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br>
            <br>
            <img src="images/buzz.png" alt="buzz" id="buzz">
            <br>
            <br>
        </div>
    </div>
    <div class="parallax"><img src="images/honecomb.jpg"></div>
</div>
<div class="container" id="articles">
    {{#each article}}
    <div class="row">
        <div class="col s12 m12">
            <div class="card">
                <nav>
                    <div class="nav-wrapper valign-wrapper center-align indigo darken-4 white-text cardTitle">
                        <h2 class="card-title " href={{this.link}}>{{this.title}}</h2>
                    </div>
                </nav>
                <div class="card-content">
                    <p>{{this.byline}}</p>
                    <a class="waves-effect waves-light btn amber right" id="saveArticle" data-id={{this._id}}>Save Article</a>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>